<!doctype html>
<html>
<head>
<meta charset="utf-8">
  <title>首页_大大博客 - 一个走在前端之路的个人博客网站</title>
  <meta name="keywords" content="个人博客,大大个人博客,前端,前端博客" />
  <meta name="description" content="大大博客，是一个一个走在前端之路的个人博客网站，提供前端最新技术！" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/m.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="/">大大博客</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="list.html">学无止境</a></li>
        <li><a href="info.html">个人技术栈</a></li>
        <li><a href="gbook.html">留言</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="list.html">学无止境</a></li>
        <li><a href="info.html">个人技术栈</a></li>
        <li><a href="gbook.html">留言</a></li>
        <li class="text" style="cursor:pointer;" onclick="textclick()">点我开启文字特效</li>
      </ul>
    </nav>
  </div>
</header>
<article>
  <h1 class="t_nav"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。 </span><a href="/index.html" class="n1">网站首页</a><a href="/list.html" class="n2">学无止境</a></h1>
  <div class="blogs">
    <div class="mt20"></div>
    <%for(var i in cont){%>
    <%if(i==13){break;}%>
    <li> <span class="blogpic"><a href="/page?id=<%=cont[i]._id%>"><img src="<%=cont[i].img%>"></a></span>
      <h3 class="blogtitle"><a href="/page?id=<%=cont[i]._id%>"><%=cont[i].title%></a></h3>
      <div class="bloginfo">
        <p><%=cont[i].introduce%></p>
      </div>
      <div class="autor"><span class="lm"><a href="/class?id=<%=cont[i]._id%>" title="<%=cont[i].class%>" target="_blank" class="classname"><%if(cont[i].class.indexOf("专用") > 0 ){%><%='专题'%><%}else{%><%=cont[i].class%><%}%></a></span><span class="dtime"><%=cont[i].time%></span><span class="viewnum">浏览（<a href="/"><%=cont[i].click%></a>）</span><span class="readmore"><a href="/page?id=<%=cont[i]._id%>">阅读原文</a></span></div>
    </li>
    <%}%>

    <div class="pagelist"><a title="Total record">&nbsp;<b><%=cont2.length%></b><%if(cont2.length<=13){%> <%}else{%><%var totalPage = parseInt(Math.ceil(cont2.length /13)); console.log(totalPage); for(var i=0;i<=totalPage-1;i++){%></a>&nbsp;&nbsp;&nbsp;<a><b  style="cursor:pointer;"  onclick="javascript:;window.location.href='/list<%=i+1%>'"><%=i+1%></b></a>&nbsp;<%}%><%}%>&nbsp;<a href="/list2">下一页</a>&nbsp;<a href='/list<%=totalPage%>'>尾页</a></div>
  </div>
  <div class="sidebar">
    <div class="search">
      <!--<form action="/e/search/index.php" method="post" name="searchform" id="searchform">-->
        <!--<input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">-->
        <!--<input name="show" value="title" type="hidden">-->
        <!--<input name="tempid" value="1" type="hidden">-->
        <!--<input name="tbname" value="news" type="hidden">-->
        <!--<input name="Submit" class="input_submit" value="搜索" type="submit">-->
      <!--</form>-->
    </div>
    <div class="lmnav">
      <h2 class="hometitle">栏目导航</h2>
      <ul class="navbor">
        <li><a href="#">关于我</a></li>
        <li><a href="list.html">学无止境</a>
          <ul>
            <%for(var e in classtitle){%>
            <%if(classtitle[e].title.indexOf("专用") > 0 ){%>

            <%}else{%>
            <li><a href="/class?id=<%=classtitle[e]._id%>"><%=classtitle[e].title%></a></li>
            <%}%>

            <%}%>
            <li><a href="/class?id=5be3e34eba8c6655af56ab1b%>">专题</a></li>
          </ul>
        </li>
        <li><a href="#">慢生活</a></li>
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">点击排行</h2>
      <ul>
        <%for(var y in phb){%>
        <li><b><a href="/page?id=<%=phb[y]._id%>" target="_blank"><%=phb[y].title%></a></b>
          <p><i><a href="/page?id=<%=phb[y]._id%>" target="_blank"><img src="<%=phb[y].img%>" width="100" height="90"></a></i><%=phb[y].introduce%></p>
        </li>
        <%}%>
      </ul>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <%for(var t in biaoqian){%>
        <a href="/"><%=biaoqian[t].title%></a>
        <%}%>
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">站长推荐</h2>
      <ul>
        <%for(var i in cont){%>
        <%if(i==5){break;}%>
        <li><b><a href="/page?id=<%=cont[i]._id%>" class=" " target="_blank"><%=cont[i].title%></a></b>
          <p><i><a href="/page?id=<%=cont[i]._id%>" class=" " target="_blank"><img src="<%=cont[i].img%>" width="110" height="90"></a></i><%=cont[i].introduce%></p>
        </li>
        <%}%>
      </ul>
    </div>
    <div class="weixin">
      <h2 class="hometitle">官方微信</h2>
      <ul>
        <img src="images/wx.jpg">
      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="/">大大博客</a> <a href="/"></a></p>
</footer>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery.moatext-min.js"></script>
<script type="text/javascript" src="js/text.js"></script>
<script src="js/nav.js"></script>
</body>
</html>
